@page
@using xdcb.HoSoCongTrinh.Constants
@model xdcb.BaoCaoNCVHangNam.CreateView.IndexModel

<script src="~/js/devextreme/dx.all.js"></script>
<script src="~/js/devextreme/aspnet/dx.aspnet.mvc.js"></script>
<script src="~/js/devextreme/aspnet/dx.aspnet.data.js"></script>

@section scripts
{
    <script src="/Pages/BaoCaoNCVTrungHan/CreateUpdate.js"></script>
    <script src="/Pages/BaoCaoNCVTrungHan/CongTrinh/createupdate.js"></script>

    <script>
        var chuDauTuId = '@Model.ChuDauTuId';
        var isEdit = 'false';
    </script>
}



<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-8">
                <h4>@ViewTextConsts.BaoCaoNCVTrungHan.CreateTitle</h4>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="loadpanel"></div>
            <div class="card  card-search">
                <div class="card-header">
                    <div class="row">
                        <div class="col-12">
                            <h3 class="card-title">Nhu cầu vốn Trung hạn (Giai đoạn <span id="title_loaikehoach"> đầu năm </span> <span id="title_fromyear">@(DateTime.Now.Year+1)</span><span id="title_toyear">-@(DateTime.Now.Year+2)</span>)</h3>
                            <br class="dieuchinh" /><h3 class="card-title dieuchinh">(Thuộc kế hoạch đầu tư công trung hạn giai đoạn <span id="titile_giaidoan"></span>)</h3>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="search-item-container">
                            <div class="row">
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="form-group">
                                        <label for="LoaiKeHoach">@ViewTextConsts.BaoCaoNCVDetail.LoaiKeHoach</label>
                                        <select id="LoaiKeHoach" class="custom-select form-control search-form-control">
                                            <option value="DAU_NAM">Đầu năm</option>
                                            <option value="DIEU_CHINH">Điều chỉnh</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-4 daunam">
                                    <div class="form-group multiple-select-form">
                                        <label for="FromYear">@ViewTextConsts.BaoCaoNCVDetail.TuNam</label>
                                        <select class="custom-select form-control search-form-control" id="FromYear" placeholder="Chọn năm">
                                            @for (int i = (DateTime.Now.Year - 5); i < (DateTime.Now.Year + 10); i++)
                                            {
                                                if (i == (DateTime.Now.Year + 1))
                                                {
                                                    <option value="@i" selected="selected">@i</option>
                                                }
                                                else
                                                {
                                                    <option value="@i">@i</option>
                                                }

                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4 daunam">
                                    <div class="form-group multiple-select-form">
                                        <label for="ToYear">@ViewTextConsts.BaoCaoNCVDetail.DenNam</label>
                                        <select class="custom-select form-control search-form-control" id="ToYear" placeholder="Chọn năm">
                                            @for (int i = (DateTime.Now.Year + 2); i < (DateTime.Now.Year + 17); i++)
                                            {
                                                <option value="@i">@i</option>
                                            }
                                        </select>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-8 dieuchinh">
                                    <div class="form-group multiple-select-form">
                                        <label for="Year">@ViewTextConsts.BaoCaoNCVDetail.TuNam</label>
                                        <select class="custom-select form-control search-form-control" id="Year" placeholder="Chọn năm">
                                            @for (int i = (DateTime.Now.Year - 5); i < (DateTime.Now.Year + 10); i++)
                                            {
                                                if (i == (DateTime.Now.Year + 1))
                                                {
                                                    <option value="@i" selected="selected">@i</option>
                                                }
                                                else
                                                {
                                                    <option value="@i">@i</option>
                                                }

                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>


                        </div>

                        <div class="search-button-container">
                            <div class="form-group">
                                <span class="input-group-append">
                                    <button id="AddKeHoachNhuCauVon" type="button" class="btn btn-search">
                                        <span>@ViewTextConsts.BaoCaoNCVDetail.Add</span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <span class="text-danger field-validation-valid" data-valmsg-replace="true">
                    </span>
                </div>
            </div>
    
        <div id="frameBaoCao">
          

                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Thêm nhu cầu vốn trung hạn</h3>
                    </div>

                    <div class="card-body">
                        <ul class="nav nav-pills" role="tablist">
                            <li class="nav-item"><a class="nav-link   active" data-toggle="pill" href="#NST" role="tab" aria-selected="true">Nguồn ngân sách Tỉnh</a></li>
                            <li class="nav-item" id="tab_TW"><a class="nav-link  " data-toggle="pill" href="#TW" role="tab" aria-controls="TW" aria-selected="false">Nguồn ngân sách Trung ương</a></li>
                            <li class="nav-item"><a class="nav-link  " data-toggle="pill" href="#ODA" role="tab" aria-controls="ODA" aria-selected="false">Nguồn ODA</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade   show active" id="NST" role="tabpanel" aria-labelledby="NST-tab">
                                <div class="row mb-2">
                                    <div class="text-right col-12">
                                        <button id="ThemMoiBaoCaoNST" _typeAdd="NST" class="btn btn-add-general" type="button" onclick="OpenModal(this)" data-busy-text="Processing..." data-toggle="modal" data-target=".baoCaoModal"><i class="fa fa-plus"></i> <span>Thêm công trình vào báo cáo</span></button>
                                    </div>
                                </div>
                                <div id="gridNST" class="baocao_ncv"></div>
                            </div>
                            <div class="tab-pane fade active" id="TW" role="tabpanel" aria-labelledby="TW-tab">
                                <div class="row mb-2">
                                    <div class="text-right col-12">
                                        <button id="ThemMoiBaoCaoTW" _typeAdd="TW" class="btn btn-add-general" type="button" onclick="OpenModal(this)" data-busy-text="Processing..." data-toggle="modal" data-target=".baoCaoModal"><i class="fa fa-plus"></i> <span>Thêm công trình vào báo cáo</span></button>
                                    </div>
                                </div>
                                <div id="gridTW" class="baocao_ncv"></div>
                            </div>
                            <div class="tab-pane fade active" id="ODA" role="tabpanel" aria-labelledby="ODA-tab">
                                @*<div class="row mb-2">
                                        <div class="text-right col-12">
                                            <button id="ThemMoiBaoCaoODA" _typeAdd="ODA" class="btn btn-add-general" type="button" onclick="OpenModal(this)" data-busy-text="Processing..." data-toggle="modal" data-target=".baoCaoModal"><i class="fa fa-plus"></i> <span>Thêm công trình vào báo cáo</span></button>
                                        </div>
                                    </div>
                                    <div id="gridNSODA"  class="baocao_ncv"></div>*@
                                <div style="text-align:center">Chức năng đang được xử lý</div>
                            </div>
                        </div>
                    </div>
                </div>
           
          
                <div class="text-right">
                    <button type="button" id="Save" class="btn btn-primary" data-busy-text="Đang lưu..."><span>Lưu</span></button>
                    <button type="button" id="Send" class="btn btn-primary" data-busy-text="Đang gửi..."><span>Gửi</span></button>
                    @*<button type="button" id="Export" class="btn btn-info" data-busy-text="Đang xuất file..."><span>Xuất excel</span></button>*@
                </div>

         
        </div>

    </div>
</section>

<div style="height:60px">
</div>

<div class="footer-action-group">

    <a href="~/BaoCaoNCVHangNam/List">
        <div class="btn btn-secondary">Đóng</div>
    </a>

</div>


<div class="modal fade baoCaoModal" tabindex="-1" role="dialog" id="myModal" aria-modal="true" style="padding-right: 17px; ">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-centered-cspl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thêm công trình vào báo cáo nhu cầu đơn vị</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="container-fluid">
                    <div class="row row_congtrinh">
                        <div class="col-12">
                            <div class="card card-search">
                                <div class="card-body">

                                    <div class="row">
                                        <div class="search-item-container">
                                            <div class="row">
                                                <div class="col-12 col-md-12 col-lg-12">
                                                    <div class="form-group">
                                                        <label for="ThuVienVanBan_Keywork">Tên công trình</label>
                                                        <input type="text" id="keyword" class="form-control search-form-control" placeholder="Nhập tên công trình" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="search-button-container">
                                            <div class="form-group">
                                                <span class="input-group-append">
                                                    <button id="Search_CongTrinh" type="button" class="btn btn-search">
                                                        <span>@xdcb.Common.DanhMuc.ViewTextConsts.Common.Search</span>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <span class="text-danger field-validation-valid" data-valmsg-for="ThuVienVanBan.SoVanBan" data-valmsg-replace="true">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div id="dataGirdMultiple"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeDataGridMultiple">Đóng</button>
                <button type="button" class="btn btn-primary" onclick="InsertDataRow()">Lưu</button>
            </div>
        </div>
    </div>
</div>